body {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#content {
  width: 320px;
  display: grid;
  /* border: 1px solid red; */
}

.logo-content {
  width: 80px;
  margin: 20px;
}

.hero-picture {
  /* width: 100%; */
  width: 320px;
  height: 230px;
  justify-self: center;
  /* border: 1px solid red; */
  background-image: url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#main-content {
  /* padding: 30px; */
  align-content: center;
  /* border: 1px solid red; */
}

.title-content {
  font: var(--text-lg);
  color: var(--Desaturated-Red);
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  padding: 20px 60px;
  opacity: .8;
  /* border: 1px solid red; */
}

span {
  color: black;
  font-weight: 600;
}

.paragraph-content {
  font: var(--text-md);
  text-align: center;
  color: var(--Desaturated-Red);
  margin-bottom: 20px;
  /* border: 1px solid red; */
}

.sendButton {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid var(--Desaturated-Red);
  font: var(--text);
  text-align: left;
  color: var(--Desaturated-Red);
  opacity: .6;
  /* cursor: pointer; */
}


@media screen and (min-width: 1024px) {
  #content {
    min-width: 1020px;
    /* height: 480px; */
    height: 90vh;
    /* height: 100vh; */
    justify-self: center;
    /* border: 1px solid red; */
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    position: absolute;
  }

  .logo-content {
    /* float: left; */
    width: 100px;
    /* margin: 80px 0 0 140px; */
    /* border: 1px solid red; */
    position: relative;
    left: 90px;
    top: 20px;
  }

  .hero-picture {
    float: right;
    position: absolute;
    /* width: 400px; */
    width: 40%;
    height: 100%;
    justify-self: right;
    background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
  }

  #main-content {
    /* grid-area: "left"; */
    float: left;
    position: relative;
    width: 60%;
    height: calc(80vh - 10px);
    display: grid;
    gap: 20px;
    padding: 110px;
    /* border: 1px solid red; */
  }

  .title-content,
  .paragraph-content {
    text-align: left;
  }

  .title-content {
    padding-left: 0;
    font-size: clamp(2.8rem, 2.8rem + 1.666vw, 3.8rem);
  }
}
    /* background: var(--Soft-Red);
    background-image: var(--Button-gradient); */